/* Global Styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2; 
  color: black;
}

/* tRadar Title */
header.header {
  text-align: center;
  padding: 2rem 1rem;
  font-size: 2.5rem;
  font-weight: bold;
}

/* Dashboard of Blocks */
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 2rem;
  max-width: 900px;   
  margin: 0 auto;
}

/* Block Styles */
.block {
  background-color: white;        
  border: 3px solid #666666;       
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;       
  min-height: 200px;
  max-height: 200px;
  text-decoration: none;
  color: #666666;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Block Hover Effect */
.block:hover {
  background-color: #e0e0e0; 
  border: 5px solid black;      
  color: black;                     
}

.block h2 {
  margin: 0 0 1rem 0;  
  font-size: 2rem;
  font-weight: 700;
}

.block p {
  margin: 0;
  font-size: 1.5rem;
  color: inherit;
}


